$accent-color: #d41443;
$button-hover-background: #ecebeb;
$food-truck-background: #c2e297;
$cafe-background: #f0d1a5;
$white-color: #ffffff;
$primary-text-color: #000000;
$secondary-text-color: #907e82;
$label-color: #ffa5ba;
$menu-background: #e17992;
$hero-background: #ffb8ca;
$section-background: #fff5f6;
$social-icons-background: #fea5bb;
